.title {
  margin: 15px 0;
  font-size: 24px;
  text-transform: capitalize;
  user-select: none;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
}

.colors {
  .cell {
    cursor: grab;
  }
}

.cell {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
