<div class="buttons">
  <div class="button"
       [ngClass]="{active: showJsonCopy}"
       (click)="showJsonCopy = !showJsonCopy;showJsonInsert = false">
    Show JSON
  </div>
  <div class="button"
       [ngClass]="{active: showJsonInsert}"
       (click)="showJsonInsert = !showJsonInsert; showJsonCopy = false">
    Paste JSON
  </div>
</div>
<div class="inputs">
  <div class="input">
    <input id="copyJson"
           class="copy-json"
           (click)="copyJson($event)"
           *ngIf="showJsonCopy"
           [ngModel]="appService.emptyCells | json"
           readonly="readonly" />
    <label *ngIf="showJsonCopy" for="copyJson" class="copy-icon" >
      <i class="material-icons">file_copy</i>
    </label>
  </div>

  <input *ngIf="showJsonInsert" (input)="inputJson($event)" placeholder="Paste JSON here"/>
</div>
